{{<drac2>
if level<10:
    dam="1d4"
elif level<15:
    dam="1d6"
else:
    dam="1d8"</drac2>}} {{f'-d "{dam}[cold]" -f "Collar of the Dragon Descendant|This collar grants its wearer an additoinal {dam} cold damage of every melee weapon or natural weapon damage roll."'}}
