{{character().mod_cc(""Runic Torrent", -1, True) if character().cc("Runic Torrent").value > character().cc("Runic Torrent").min else err("You need to rest to use this ability.")}} -f "Runic Torrent|Upon reaching 14th level, you can channel runic energy to overpower even the staunchest defenses. When you cast a spell, you can expend 2 charged runes to cause the spell to deal force damage instead of its usual damage types. Additionally, all creatures targeted by the spell or within the spell’s area must succeed on a Strength saving throw against your spell save DC or be knocked prone or pushed up to 15 feet away from the spell’s point of origin (your choice)." -dtype force
