!snippet vmark -d 1d6[poison] -f "Venomous Mark|At 1st level, as a bonus action, choose one creature you can see within 30 feet of you. The target is cursed for 1 minute. The curse ends early if the target dies, you die, or you are incapacitated. Until the curse ends, you deal an extra 1d6 poison damage to the target whenever you hit it with a spell attack. (You can only apply this damage once per spell even if there are multiple spell attack instances, such as with eldritch blast.)"
