-d 2d6 -f "Iron Tempest|As an action, you can spend 4 maneuver points and make a weapon attack against a creature. Until the end of your turn, whenever you hit with a weapon attack, it deals 2d6 additional damage and you can make an additional {proficiencyBonus} attacks, but each bonus attack must be against a different target."