!snippet bardtale cha -f "Bards Tale|Attunement to the Bards Tale by a Spellcaster allows you to use your Spellcasting Ability to be used instead of Intelligence for your Arcana checks" -thumb "https://www.dndbeyond.com/avatars/thumbnails/39843/840/1000/1000/638430946065576819.png"