!snippet boqh -f "Belt of the Quickened Hand|Granted for services to Vanalir and her Mistress, this belt is made out of rugged leather. It contains multiple loops and sheathes, matching the proficiency bonus of its wearer. Items can be retrieved from the belt as part of the action to use the item any number of times per round, allowing for more than the 1 free interact action per round.  In addition, the wearer may draw and throw any weapon with the Thrown property from the belt as a bonus action.  Thrown weapons that are drawn and thrown from the belt return to the belt at the end of the wearer's turn.

Until the wearer is level 10, it can hold any weapon with the Thrown property.  Once the wearer is level 10, any item may be placed on the belt.  Once the wearer reaches level 15, the wearer may Interact with any Object on the belt as a bonus action (drawing the item as part of the same bonus action for free), much like the Thief's Fast Hands ability."