!snippet embrace adv -b 5 -f "Mother's Embrace|The passive ability grants advantage on stealth checks as well as a +5 bonus to stealth checks.  This +5 does not stack with other bonuses to stealth checks."
