!snippet tatwild -d 1d4e4[fire] -d 1d8[fire] -f "Wildfire Tattoo|This tattoo allows its wielder to add +1d4 fire damage to every spell cast.  On a 4, the conflagration spreads and adds another d4 of damage.  On a 1, the fire within the tattoo extinguishes and takes an action to rekindle."
