!snippet tiaratrick -d 1d8+charismaMod -f "Tiara of the Tricktser|When casting a spell of the illusion school or that deals psychic damage, add 1d8 + your charisma modifier to the damage rolls.  In addition, the illusion becomes semi solid, though it can still only affect its intended targets."
